*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #0c3d1c;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px; 
}
.app #image-frame{
    text-align: center;
    display: block;
}
.app h1{
    color: rgb(41, 33, 33);
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgb(41, 33, 33);
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width:550px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #e60a0a;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
.correct{
    background-color: #4caf50;
    color: #fff;
    border: none;
}
.incorrect{
    background-color: #f44336;
    color: #fff;
    border: none;
}