* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c3d1c;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

#image-frame {
    text-align: center;
}

.app h1 {
    font-size: 25px;
    font-weight: 600;
    color: #292121;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: #292121;
}

.btn {
    background: #fff;
    color: #222;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.btn.selected {
    background-color: #4a90e2;
    color: #fff;
}

#next-btn {
    background: black;
    color: white;
    padding: 12px;
    width: 150px;
    margin: 20px auto 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #4caf50 !important;
    color: #fff !important;
}

.incorrect {
    background: #f44336 !important;
    color: #fff !important;
}

.result-item {
    margin: 10px 0;
}
